* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6C9DE4;
}

h1 {
  padding: 15px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  font-family: Garamond;

}

button {
  background-color: #DBE7F8;
  color: black;
  border: 1px dashed white;
  cursor: pointer;
  font-size: 2rem;
}

button:focus {
  border-style: none;
  outline: none;
}

button:hover {
  background-color: rgba(219, 231, 248, .9);
}

.gridContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(120px, auto) repeat(5, 70px);
  min-height: 100%;
}

.span2 {
  grid-column: span 2;
}

#outputDisplay {
  background-color: #020421;
  color: white;
  text-align: right;
  grid-column: 1 / -1;
  padding: 50px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
